@font-face {
    font-family: buttons;
    src: url(NanumMyeongjo-Regular.ttf);
}

body
{
 	/*background: linear-gradient(270deg, #4bd3ff, #ff8585, #8598ff);
	*/
  background: #b0fff9;
  background-size: 600% 600%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


/*
#login-background
{
	background-image:url(bg2.jpg);
	background-size:100%;
    background-repeat:no-repeat;
    background-color:black;
    background-position:center top;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
*/

#wrapper
{
	z-index:1;
	margin:auto;
}

#clock-box
{
	font-family:"iosevka";
	font-size:70px;
	text-align:center;
	color:white;
}

#login-box
{
	text-align:center;
	background-color:rgb(255, 255, 255);
	width:14.5898vw;
	height:23.6068vw;
	margin: auto;
  margin-top: 23.6068vh;
	border-radius:20px;
	box-shadow: 0 0 100px 5px rgba(0,0,0,0.2);
	overflow:hidden;
}

#login-picture
{
	border-radius:100%;
	height:9.01699vw;
  margin-top: calc(5.5728vw/2);
	-webkit-transition:opacity .5s ease-in-out;
}

#login-response
{
	width:100%;
  height:0;
	margin-top:0;
	font-family:"SFNS Display";
	font-size: 15px;
	color:#FF7878;
	/*
	Error
	color:#FF1919;
	*/
}

#login-form
{
	margin:auto;
}

#login-name
{
	-webkit-appearance: none;
	background-color:white;
	border:1px solid #e6e6e6;
	width:100%;
	height:40px;
	border-radius:2px;
	padding:6px 5px 10px 5px;
	font-size:15px;
	font-family:"SFNS Display";
	color:#5b5b5b;
	display:none;

}

#last,
#next
{
	color:#ff0000;
  width: auto;
	font-family:"buttons";
  font-size: auto;
  position:relative;
  opacity: 0; /*hidden but clickable*/
}

#last:hover,
#next:hover
{
	cursor:pointer;
}

#last
{
  float: left;
}

#next
{
  float: right;
}

#container
{
  margin-top: calc(3.1056vw/2);
  margin-left: auto;
  margin-right: auto;
	overflow:hidden;
}

#name
{
	margin: 0 auto;
  width: 81.97%;
  padding-top: 1.9194%;
  padding-bottom: 1.9194%;
  font-family: "SFNS Display";
  font-size: 15px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border:1px solid #f5f5f5;
  border-radius:10px;
  -webkit-transition:margin .8s ease-in-out;
  display: inline-block;
}

#name div
{
	display: table-cell;
  /*padding: 6px 5px 10px 5px; */
	min-width:calc(14.5898vw*0.8197);
 	max-width:calc(14.5898vw*0.8197);
 	/* margin: 100px; */
 	/* height: 100px; */
}



#login-name:focus
{
	background-color:white;
	border:1px solid #e6e6e6;
}

#login-password
{
	position:relative;
	background-color:white;
  padding-top: 1.9194%;
  padding-bottom: 1.9194%;
	margin-top: calc(1.1862vw/4);
	font-size: 15px;
  width: 81.97%;
	height: auto;
	border:1px solid #f5f5f5;
	border-radius:10px;
	text-align: center;
}
}

#login-password::-webkit-input-placeholder {
    font-family: 'iosevka';
}

#login-password:-ms-input-placeholder {
    font-family: 'iosevka';
}

#login-password:-moz-placeholder {
    font-family: 'iosevka';
}

#login-password::-moz-placeholder {
    font-family: 'iosevka';
}

#login-name:hover,
#login-password:hover
{
	border:1px solid #d5d5d5;
	outline:none;
}

#login-name:focus,
#login-name:active,
#login-password:focus, 
#login-password:active
{
	border: 1px solid #ff7c7c;
	box-shadow: inset 0 1px 2px rgba(255, 140, 140, 0.3);
	outline: none;
}

#login-button
{
	position:relative;
	/* top:-15px; */
	outline:0;
	font-family: 'iosevka';
	font-size:15px;
  margin-top: calc(1.9194vw/2);
	/*background-color:#f4dad0;*/
	color:white;
	border:0.5px solid #ffffff;
	padding:5px;
	border-radius:5px;
	width:61.8034%;
	height:40px;
	background: linear-gradient(270deg, #4bd3ff, #ff8585, #8598ff);
    /* background-size: auto auto; */
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	background-size: 600% 600%;
}

#login-button:hover
{
	cursor:pointer;
	/* border:1px solid #7f7f7f; */
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#login-button:active
{
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}

#login-bar
{
	position:absolute;
	bottom:10px;
	text-align: right;
	width:90%;
}

#login-shutdown
{
	width:40px;
	color:white;
}

#login-shutdown:hover,
#login-restart:hover
{
	cursor:pointer;
	text-shadow:0 0 3px #FFFFFF;
}

#login-restart
{
	width:42px;
	font-family:"iosevka";
	color:white;
	background-color:transparent;
	border:none;
}
